*{
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:wheat;
}

.container{
    border:0;
    outline: none;
    width:90%;
    max-width:  470px;
    background: linear-gradient(135deg, lightblue, blue);
    color:white;
    margin:100px auto 0;
    padding:40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.search input{
    border:0;
    outline: none;
    background: #ebfffe;
    color:#222;
    padding:20px 25px;
    margin-right: 16px;
    border-radius: 30px;
    flex:1;
    font-size: 18px;
    height:60px;
}

.search button{
    height:60px;
    width:60px;
    background: #ebfffe;
    cursor: pointer;
    border-radius: 50%;
}

.search img{
    width:20px;
}

.weather-icon{
    width:170px;
    margin-top:30px;
}  

.weather h1{
    font-size: 80px;
    font-weight: 600;
}

.weather h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px
  
}
.details{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px ;
}
.col{
    display:flex;
    align-items: left;
}

.col img{
    width:40px;
    margin-right:10px
}

.humidity, .wind{
    font-size: 20px;
    margin-top: 6px;
}

.weather{
    display: none;
}
.error{
    text-align: right;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 45px;
    display:none;
} 